.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
	padding: 1em 2em;
	border: 1px solid lightgray;
	border-radius: 0.2em;
}

.desc {
	width: 100%;
	display: grid;
	grid-template-columns: auto 8em 2em;
}
.desc :nth-child(2) {
	border-right: 1px solid black;
}
.desc :nth-child(3) {
	text-align: end;
}